*{
    font-size: 80px;
    font-weight: 400;
    overflow: hidden;
    
}
.calculator{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;


}
.calc_display{
   width: 100%;
   background-color: #858694;
   height: 15%;
   color: white;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.value{
    margin: 20px;
}
.calc_keypad{
    height: 85%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'func_keys_digit operator_keys';
    grid-template-rows:100%;
}
.func_keys_digit{
    height: 100%;
    grid-area:func_keys_digit;
}
.operator_keys{
    height: 100%;
    grid-area: operator_keys;
}
.func_keys_digit .calc_keys , .operator_keys .calc_keys{
    border: 1px solid gray;
    height: 20%;
}
.func_keys_digit {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.func_keys_digit .calc_keys{
    background-color: #e0e0e0;
    width: 33.33%;
}
.func_keys_digit :nth-child(13){
    width: 66.66%;
}
.operator_keys .calc_keys{
    width: 100%;
    color: white;
    background-color: #f5923e;
}
@media (max-width:600px){
    *{

        font-size: 50px;
    }
}
@media (max-width:350px){
    *{

        font-size: 30px;
    }
}